= form.localized_fields do |localized_fields|
  = localized_fields.label localized_fields.language
  = localized_fields.text_field field.method_name, field.html_attributes.reverse_merge({ :value => field.form_value, :checked => field.form_value.in?([true, '1'])})
