:ruby
  js_data = {
    :csspath => field.css_location,
    :jspath => field.js_location,
    :options => field.config,
    :locations => field.assets
  }

= render 'tabbed_form', form: form, field: field, richtext: 'codemirror', js_data: js_data