:ruby
  js_data = {
    :jspath => field.location ? field.location : field.base_location + "ckeditor.js",
    :base_location => field.base_location,
    :options => {
      :customConfig => field.config_js ? field.config_js : field.base_location + "config.js"
    }
  }

- if field.tabbed
  = render 'tabbed_form', form: form, field: field, richtext: 'ckeditor', js_data: js_data