- if field.tabbed
  = render 'form_tabbed', form: form, field: field, attributes: attributes
- else
  = form.localized_fields do |localized_fields|
    = localized_fields.label localized_fields.language
    = localized_fields.text_area field.method_name, attributes