:ruby
  js_data = {
    :csspath => field.css_location,
    :jspath => field.js_location,
    :config_options => field.config_options.to_json
  }

= render 'form', form: form, field: field, richtext: 'bootstrap-wysihtml5', js_data: js_data, attributes: field.html_attributes.reverse_merge(:data => { :richtext => richtext, :options => js_data.to_json }).reverse_merge({ :value => field.form_value })