:ruby
  js_data = {
    :csspath => field.css_location,
    :jspath => field.js_location,
    :options => field.config,
    :locations => field.assets
  }

= render 'form', form: form, field: field, field_type: :text_area, html_attributes: field.html_attributes.reverse_merge(:data => { :richtext => 'codemirror', :options => js_data.to_json })